@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}

.Task-Form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.Task-Form input {
  margin: 0 0.25em;
  border-radius: 0.5em;
  padding: 0.5em 2em;
  background-color: black;
  color: white;
}
#task-input {
  width: 25em;
}
.Task-Form input::placeholder {
  color: white;
}
